<%- include('header') %>
	<div class = "ui grid" id ="signinbox">
		<div class  ="four wide column"></div>
		<div class = "eight wide column">
			<form class = "ui form segment" method="post">
				<div class="field required">
					<label>用户名</label>
					<div class="ui left icon input">
						<input placeholder="用户名" type="text" name="name">
						<i class="user icon"></i>
					</div>	
				</div>
				<div class="field required">
					<label>密码</label>
					<input type="password" name="password" placeholder="密码">
					<i class="lock icon"></i>
				</div>
				<input type="submit" class="ui button fluid" >
			</form>
		</div>
	</div>
<%- include('footer') %>